<% if notice != nil %>
<p id="notice" class="round"><%= notice %></p>
<% end %>
<div class="header transparent">
<h1>My Desk</h1>
<%= link_to 'Add Stack', new_stack_path %>
</div>
<div class="content">
    <div id="stacks">
        <%= render(@stacks) || 'Create a stack to begin!' %>
    </div>
</div>