<% if notice != nil %>
<p class="round" id="notice"><%= notice %></p>
<% end %>
<div class="header transparent">
<h1><%= @card.item %></h1>
<%= link_to 'Back to Stack', @stack %>
</div>
<div class="content">
<p>
  <b>Definition:</b>
  <%= @card.definition %>
</p>
</div>
