body {
  background: url("bb.png") fixed;
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 100%;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a { color: #fff; text-decoration: none; }
a:visited { color: #fff; }
a:hover { color: #e3d17e; text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }
    
.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#login {
  font-family: 'Gloria Hallelujah', cursive; 
  color: #9cbe68;
  font-size: 1em;
  z-index:98;
  position: fixed;
  right: 5px;
  float: right;
  padding: 10px 5px 12px;
  background: #1e1e1e;
  border: 1px solid black;
}

#notice {
  font-family: 'Gloria Hallelujah', cursive; 
  color: #9cbe68;
  font-size: 1.5em;
  z-index:99;
  position: fixed;
  left: 30%;
  padding: 10px 5px 12px;
  background: #1e1e1e;
  border: 1px solid black;
   }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #2f2f2f;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 12px;
    list-style: square; } }
    
    
.header {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 10px;
    background: #2f2f2f;
    z-index: 20;
    width: 100%;
    border-bottom: 1px solid black;
}

.content {
    position: relative;
    top: 75px;
}

.card {
    margin: 10px 10px;
    color: #000;
    
    a { text-align: center; color: #000; text-decoration: none; border: none; display: block; width: 100%; height: 100%; }
    a:visited { color: #000; }
    a:hover { color: #f00; text-decoration: none; }
    a:focus { outline: thin dotted; }
    a:hover, a:active { outline: 0; }
    
    img { border: none; }
}

.card.stack {
    background: url("stack.png");
    width: 270px;
    height: 178px;
}

.card.single {
    background: url("card.png");
    width: 250px;
    height: 150px;
}

.card_header {

}

.stack_name span {
    position: relative;
    top: 40%;
    font-size: 2em;
}

.stack_button {
    display: inline !important;
    z-index: 10;
    width: 25px !important;
    height: 25px !important;
    position: relative;
}

.stack_button.edit {
    top: -151px;
    left: 195px;
}

.stack_button.delete {
    top: -149px;
    left: 195px;
}

.stack_button_hover {
    
}

.center {
    margin: 0 auto;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=95);
	opacity: 0.95;
}

.pad {
    padding: 25px;
}

.red {
    background: red;
    color: red;
}
